<div class="content">
  <div itemprop="name" class="queried-for">
    <h4 title="men casual shirts" class="q">Salles A la une</h4>
    <span>&nbsp;</span>
  </div>

  <div class="options">
    <ul class="img-size">
      <label>Vue:</label>
      <li (click)="toggleView('COMPACT')" [ngClass]="{'big': true, 'selected': isBigSelected()}"></li>
      <li (click)="toggleView('COZY')" [ngClass]="{'small': true, 'selected': isSmallSelected()}"></li>
    </ul>

  
    <ul class="sort">
      <label>Trier:</label>
      <li data-sortkey=":popularity" class="coming-soon">Populaire</li>
      <li data-sortkey=":new" class="coming-soon">Nouveau</li>
      <li data-sortkey=":discount" class="coming-soon">Remise</li>
      <label>Prix: 
        <li data-sortkey=":low" class="coming-soon">Bas</li>
        <li data-sortkey=":high" class="coming-soon">Haut</li>
      </label>
    </ul>
  </div>
</div>