

  <!-- Search bar -->
  <section class="app-search-bar text-center">

    <div class="container">

      <h1>Recherche Salle</h1>

      <div class="container">
        <form>
          <div class="form-group form-row">
            <div class="col-3">
              <input class="form-control" type="text" placeholder="Type">
            </div>

            <div class="col-3">
              <input class="form-control" type="text" placeholder="Ou ?">
            </div>

            <div class="col-3">
              <input class="form-control" type="number" placeholder="Nb pers.">
            </div>

            <div class="col-3">
              <input class="form-control" type="number" placeholder="Prix">
            </div>

          </div>

          <button type="submit" class="btn btn-primary">Rechercher</button>
        </form>

      </div>

    </div>
  </section>

  <!-- Pub Room List -->
  <div class="album text-muted">

    <div class="container">

      <div class="row">

        <div >
          <img src="assets/imgs/room.jpg" height="300" width="300" alt="Room">
          <h1 class="card-text">LES SALONS DE LA MARNE</h1>
          <p class="card-text">700€</p>

          <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-primary form-control mr-sm-4" type="submit">Selectionner</button>
            <button class="btn btn-secondary form-control" type="submit">Plus d'Info</button>
          </form>
        </div>

      </div>

    </div>
  </div>



