<!-- Pub Room List -->
<div class="album text-muted">

  <div class="container">

    <div class="row justify-content-md-center">

      <div *ngFor="let room of roomList$ | async" class="card mb-2 mr-2" style="width: 20rem;">

        <div class="view overlay hm-white-slight">
          <img src="assets/imgs/room.jpg" class="img-fluid" alt="">
          <a>
            <div class="mask"></div>
          </a>
        </div>

        <div class="card-body">

          <div class="d-flex justify-content-between">
            <h4 class="card-title  bg-white text-dark">{{ room.nameName }}</h4>

            <p class="card-title">
              <i class="fa fa-user mr-2" aria-hidden="true"></i>{{room.capacity}}
            </p>

          </div>

          <p class="card-title">
            <i class="fa fa-map-marker" aria-hidden="true"></i> {{room.address.city}}
          </p>
          

          <h6 class="card-title text-danger">{{room.price}}
            <i class="fa fa-eur"></i>
          </h6>



        </div>


        <diV class="card-footer card-block d-flex justify-content-between">

          <button type="button" class="btn btn-primary">Selectioner</button>

          <button type="button" class="btn btn-info" [routerLink]="['room',room._id]">Plus d'Info
            <i class="fa fa-chevron-right"></i>
          </button>

        </diV>

      </div>
    </div>
  </div>
</div>