<!-- Pub Room List -->
<div class="album text-muted">

  <div class="container">

    <div class="row top-buffer">



      <div *ngFor="let room of roomList$ | async" class="card mb-2 mr-2" style="width: 20rem;">

        <div class="view overlay hm-white-slight">
          <img src="assets/imgs/room.jpg" class="img-fluid" alt="">
          <a>
            <div class="mask"></div>
          </a>
        </div>

        <div class="card-body">

          <a class="activator">
            <i class="fa fa-share-alt"></i>
          </a>

          <h4 class="card-title">{{room.nameName}}</h4>
          <hr>

          <h6 class="card-title">{{room.price}} €</h6>
          <hr>

          <p class="card-text">{{ room.description }}</p>
          <a href="#" class="black-text d-flex flex-row-reverse">
            <h5 class="waves-effect p-2">Plus d'Info
              <i class="fa fa-chevron-right"></i>
            </h5>
          </a>


        </div>

      </div>





    </div>

  </div>
</div>