<form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" name="email" type="text" placeholder="Votre e-mail ou pseudo" [(ngModel)]="account.email">
  <input class="form-control mr-sm-2" name="password" type="password" placeholder="Mot de passe" [(ngModel)]="account.password">
  <button type="button" class="btn btn-success mr-sm-2" (click)="login()">Connexion</button>
  <button type="button" class="btn btn-secondary mr-sm-2" routerLink="register">Créer un compte</button>
</form>

