<div class="row reservation-container" data-hook="">
  <div id="content" class="col-sm-12" data-hook="">
    <div class="col-md-5 col-centered">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Reservation</h3>
        </div>

        <div class="calandar">
          <app-calendar [reservationList$]="reservations$"></app-calendar>
        </div>



        <div id="existing-customer" class="panel-body" data-hook="reservation">

          <p class="reservation-info-text">- INSERER LES DATES -</p>
          <form class="reservation-reservation-form" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
            <fieldset class="reservation-input-container">

              <div class="reservation-input-item">
                <my-date-picker class="reservation-user-input-password reservation-user-input" name="start-date" [options]="myDatePickerOptions"
                  required placeholder="Date de Debut" formControlName="start_date" autocomplete="off"></my-date-picker>
                <div *ngIf="signInForm.get('start_date').errors && signInForm.get('start_date').touched">
                  
                  <p class="reservation-error-message text-danger">La date doit etre valide.</p>
                </div>
              </div>

              <div class="reservation-input-item">
                <my-date-picker class="reservation-user-input-password reservation-user-input" name="end_date" [options]="myDatePickerOptions"
                  required placeholder="Date de Fin" formControlName="end_date" autocomplete="off"></my-date-picker>
                <div *ngIf="signInForm.get('end_date').errors && signInForm.get('end_date').touched">
                 
                  <p class="reservation-error-message text-danger">La date doit etre valide.</p>
                </div>
              </div>






            </fieldset>
            <fieldset class="reservation-reservation-button-container">
              <button type="submit" class="btn btn-danger reservation-reservation-button">Réserver</button>
            </fieldset>
          </form>
          <div class="reservation-link-container">
            <small>
              <a class="reservation-link text-danger coming-soon">Aide</a>
              <div class="reservation-right-links">
                <span class="text-default">Un Probléme ?</span>
                <a class="reservation-create-account-link reservation-link text-danger coming-soon" [routerLink]="['/signup']">Contacter l'Admin</a>
              </div>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>