<div class="row register-container" data-hook="">
  <div id="content" class="col-sm-12" data-hook="">
    <div class="col-md-5 col-centered">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Ajouter une salle</h3>
        </div>
        <div id="existing-customer" class="panel-body" data-hook="login">
          <p class="register-button-info-text register-info-text">- FORMULAIRE -</p>
          <form class="register-register-form" novalidate="" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">


            <label class="fileContainer">
              Cliquez ici pour uploader une image
              <input type="file" (change)='openFile($event)'/>
            </label>


            <fieldset class="register-input-container">

              <div class="register-input-item">
                <input type="text" class="register-user-input-name register-user-input" name="name" formControlName="name" placeholder="Nom"
                  autocomplete="off">
                <div *ngIf="signUpForm.get('name').errors && signUpForm.get('name').touched">
                  <span class="register-error-icon">!</span>
                  <p class="register-error-message">{{ signUpForm.get('name').errors.msg || 'Ce champ est obligatoire.' }}</p>
                </div>
              </div>

              <div class="register-input-item">
                <input type="number" class="register-user-input-name register-user-input" name="capacity" formControlName="capacity" placeholder="Nombre de place"
                  autocomplete="off">
                <div *ngIf="signUpForm.get('capacity').errors && signUpForm.get('capacity').touched">
                  <span class="register-error-icon">!</span>
                  <p class="register-error-message">Ce champ est obligatoire.</p>
                </div>
              </div>

              <div class="register-input-item">
                <input type="number" class="register-user-input-name register-user-input" name="room_number" formControlName="room_number"
                  placeholder="Nombre de chambre" autocomplete="off">
                <div *ngIf="signUpForm.get('room_number').errors && signUpForm.get('room_number').touched">
                  <span class="register-error-icon">!</span>
                  <p class="register-error-message">Ce champ est obligatoire.</p>
                </div>
              </div>

              <div class="register-input-item">
                <input type="number" class="register-user-input-name register-user-input" name="size" formControlName="size" placeholder="Taille de la salle"
                  autocomplete="off">
                <div *ngIf="signUpForm.get('size').errors && signUpForm.get('size').touched">
                  <span class="register-error-icon">!</span>
                  <p class="register-error-message">Ce champ est obligatoire.</p>
                </div>
              </div>

              <div class="register-input-item">
                <input type="number" class="register-user-input-name register-user-input" name="price" formControlName="price" placeholder="Prix"
                  autocomplete="off">
                <div *ngIf="signUpForm.get('price').errors && signUpForm.get('price').touched">
                  <span class="register-error-icon">!</span>
                  <p class="register-error-message">Ce champ est obligatoire.</p>
                </div>
              </div>

              <div class="register-input-item">
                <input type="number" class="register-user-input-name register-user-input" name="street_number" formControlName="street_number"
                  placeholder="Numéro de la rue" autocomplete="off">
                <div *ngIf="signUpForm.get('street_number').errors && signUpForm.get('street_number').touched">
                  <span class="register-error-icon">!</span>
                  <p class="register-error-message">Ce champ est obligatoire.</p>
                </div>
              </div>

              <div class="register-input-item">
                <input type="text" class="register-user-input-name register-user-input" name="street_name" formControlName="street_name"
                  placeholder="Nom de la rue" autocomplete="off">
                <div *ngIf="signUpForm.get('street_name').errors && signUpForm.get('street_name').touched">
                  <span class="register-error-icon">!</span>
                  <p class="register-error-message">Ce champ est obligatoire.</p>
                </div>
              </div>

              <div class="register-input-item">
                <input type="text" class="register-user-input-name register-user-input" name="city" formControlName="city" placeholder="Ville"
                  autocomplete="off">
                <div *ngIf="signUpForm.get('city').errors && signUpForm.get('city').touched">
                  <span class="register-error-icon">!</span>
                  <p class="register-error-message">Ce champ est obligatoire.</p>
                </div>
              </div>

              <div class="register-input-item">
                <input type="number" class="register-user-input-name register-user-input" name="postal_code" formControlName="postal_code"
                  placeholder="Code postal" autocomplete="off">
                <div *ngIf="signUpForm.get('postal_code').errors && signUpForm.get('postal_code').touched">
                  <span class="register-error-icon">!</span>
                  <p class="register-error-message">Ce champ est obligatoire.</p>
                </div>
              </div>

              <div class="register-input-item">
                <input type="text" class="register-user-input-description register-user-input" name="description" formControlName="description"
                  placeholder="Description">
                <div *ngIf="signUpForm.get('description').errors && signUpForm.get('description').touched">
                  <span class="register-error-icon">!</span>
                  <p class="register-error-message">Une presentation rapide de la salle.</p>
                </div>
              </div>

              <fieldset data-type="horizontal" class="register-gender">




                <legend class="register-gender-title">Une salle pour</legend>

                <input type="radio" class="register-gender-radio" id="Anniversary" name="type" value="Anniversaire" formControlName="type">
                <label class="register-gender-label" for="music">Anniversaire</label>

                <input type="radio" class="register-gender-radio" id="wedding" name="type" value="Mariage" formControlName="type">
                <label class="register-gender-label" for="wedding">Mariage</label>

                <input type="radio" class="register-gender-radio" id="music" name="type" value="Musique" formControlName="type">
                <label class="register-gender-label" for="female">Musique</label>

                <input type="radio" class="register-gender-radio" id="fete" name="type" value="Fête" formControlName="type">
                <label class="register-gender-label" for="female">Fête</label>

                <div *ngIf="signUpForm.get('type').errors && signUpForm.get('type').touched">
                  <span class="register-gender-error-icon register-error-icon">!</span>
                  <p class="register-gender-error-message register-error-message">{{ 'Quelle est le type de votre salle?'}}</p>
                </div>
              </fieldset>

            </fieldset>
            <fieldset class="register-register-button-container">
              <button class="btn btn-danger register-register-button">Enrégistrer</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>