<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

    <a class="navbar-brand" href="#">Beep</a>

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="register">Créer un compte (Aicha)</a>
      </li>
    </ul>

    <app-login-form *ngIf="!isRegistred" (loginStatus)="loginEventHandler($event)"></app-login-form>

    <app-registred-form *ngIf="isRegistred" (logoutEvent)="logoutEventHandler()"></app-registred-form>

  </div>
</nav>