<!--< <div class="container">
    <div class="row pb-4 justify-content-md-center">

        <div class="col-lg-8  mr-5 p-0">
            <div xstyle="background-color: #f7f7f7; border-color: #f7f7f7;">
                <h2 class="card-title m-2 text-primary">{{room.nameName}} (ajouté le: {{room.creationDate.getDate()}}/{{room.creationDate.getMonth()}}/{{room.creationDate.getFullYear()}})</h2>
                <img src="assets/imgs/room.jpg" class="img-fluid m-2" alt="">
                <div class="card-body m-2">
                    <h5 class="card-title text-primary">Description</h5>
                    <p class="card-text">{{room.description}}</p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 my-auto p-0">
            <div class="card">
                <i class="fa fa-location-arrow fa-4x" align="center" aria-hidden="true"></i>
                <div class="card-body">
                    <h5 class="card-title">{{room.address.streetNumber}}, {{room.address.streetName}}</h5>
                    <p class="card-text">{{room.address.city}}, {{room.address.postalCode}}</p>
                    <p class="card-text">{{room.address.country}}</p>
                </div>
            </div>
        </div>

    </div>
    <div class="row pb-4 justify-content-md-center">

        <div class="col-lg-8 mr-5">

            <div class="row">

                <div class="col p-0 m-0">
                    <div class="card">
                        <i class="fa fa-glass fa-3x p-0 m-0" align="center" aria-hidden="true"></i>
                        <div class="card-body p-0 m-0" align="center">
                            <h5 class="card-title p-0 m-0" align="center">Salle de {{room.type}}</h5>
                        </div>
                    </div>
                </div>

                <div class="col p-0 m-0">
                    <div class="card">
                        <i class="fa fa-euro fa-3x p-0 m-0" align="center" aria-hidden="true"></i>
                        <div class="card-body p-0 m-0" align="center">
                            <h5 class="card-title p-0 m-0" align="center">Prix de {{room.price}}€ par jour</h5>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col p-0 m-0">
                    <div class="card">
                        <div class="card-body p-0 m-0" align="center">
                            <h5 class="card-title p-0 m-0" align="center">{{room.size}}</h5>
                        </div>
                        <i class="card-body fa fa-info-circle fa-2x p-0 m-0" align="center" aria-hidden="true"></i>
                        <div class="card-body p-0 m-0" align="center">
                            <h5 class="card-title p-0 m-0" align="center">Superficie totale</h5>
                        </div>
                    </div>
                </div>

                <div class="col p-0 m-0">
                    <div class="card">
                        <div class="card-body p-0 m-0" align="center">
                            <h5 class="card-title p-0 m-0" align="center">{{room.capacity}}</h5>
                        </div>
                        <i class="card-body fa fa-male fa-2x p-0 m-0" align="center" aria-hidden="true"></i>
                        <div class="card-body p-0 m-0" align="center">
                            <h5 class="card-title p-0 m-0" align="center">Capacité totale</h5>
                        </div>
                    </div>
                </div>

                <div class="col p-0 m-0">
                    <div class="card">
                        <div class="card-body p-0 m-0" align="center">
                            <h5 class="card-title p-0 m-0" align="center">{{room.roomCount}}</h5>
                        </div>
                        <i class="card-body fa fa-home fa-2x p-0 m-0" align="center" aria-hidden="true"></i>
                        <div class="card-body p-0 m-0" align="center">
                            <h5 class="card-title p-0 m-0" align="center">Nb de salles</h5>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-lg-3 my-auto p-0">
            <div>
                <img class="card-img-top" src="./assets/imgs/avatar.jpg" alt="Avatar">
                <div class="card-body">
                    <h4 class="card-title">{{profile.firstName}} {{profile.lastName}}</h4>
                    <p class="card-text">
                        <i class="fa fa-envelope fa-1x" aria-hidden="true"></i> {{profile.email}}</p>
                    <p class="card-text">
                        <i class="fa fa-phone-square fa-1x" aria-hidden="true"></i> {{profile.phoneNumber}}</p>
                    <a href="#" class="btn btn-primary ">Voir Profile</a>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-7 my-auto">
            <app-calendar [reservationList$]="reservationList$"></app-calendar>
        </div>

        <div class="col-lg-4 my-auto">

            <div>
                <div class="card-body m-auto">
                    <div class="input-group input-group-lg my-2">
                        <span class="input-group-addon" id="sizing-addon1">Début</span>
                        <input type="text" class="form-control" placeholder="Date" aria-describedby="sizing-addon1">
                    </div>
                    <div class="input-group input-group-lg my-2">
                        <span class="input-group-addon" id="sizing-addon1">Fin</span>
                        <input type="text" class="form-control" placeholder="Date" aria-describedby="sizing-addon1">
                    </div>
                    <a href="#" class="btn btn-primary m-auto">Réserver</a>
                </div>
            </div>

        </div>

    </div>

    </div>-->
